<div class="form-inline">
    <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
    <select class="form-control mr-sm-3" id="categories">
        <option>Category</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <button class="btn btn-light">Search</button>
</div>

@code {

}
