@inherits LayoutComponentBase



<div class="container-fluid">
    <div class="top-row px-4">
        <NavBar />
    </div>

    <div class="main">
        <div class="content px-4">
            <div class="container">
                <div class="row body">
                    <div class="col-lg-12">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
