<div class="row">
    <div class="col-md-12">
        <dl>
            @if (Rating.GetValueOrDefault()>1)
            {
                <dt>Rating</dt>
                <dd>
                    @for (var item = 0; item < Rating; item++)
                    {
                        <span class="oi oi-star"></span>
                    }
                </dd>
            }
            @if (!string.IsNullOrWhiteSpace(Servings))
            {
                <dt>Servings</dt>
                <dd>@Servings</dd>

                <dt>Ingredients</dt>
                <dd>
                    <ul style="list-style-type: none;">
                        @foreach (var item in Ingredients)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </dd>
            }
            <dt>Directions</dt>
            <dd>
                <ul style="list-style-type:none;">
                    @foreach (var item in Directions)
                    {
                        <li>@item</li>
                    }
                </ul>
            </dd>

            @if (!string.IsNullOrWhiteSpace(Source))
            {
                <dt>Source</dt>
                <dd>@Source</dd>
            }
        </dl>
    </div>
</div>
@code {
    [Parameter] public int? Rating { get; set; }
    [Parameter] public string Servings { get; set; }
    [Parameter] public ICollection<string> Ingredients { get; set; }
    [Parameter] public ICollection<string> Directions { get; set; }
    [Parameter] public string Source { get; set; }

}
